.authorization {
	margin: 0 auto;
	padding: 20px 50px 60px;
	width: 550px;

	background-color: #f5f5f5;
	border-radius: 10px;
	color: #1c1c1c;
}

.authorization h2 {
	margin: 0;
	font-size: 35px;
	line-height: 100%;
	font-weight: 400;
	text-align: center;
}

.authorization label {
	padding: 5px 10px;
	display: block;
	margin-top: 25px;
	font-size: 21px;
	font-weight: 700;
	line-height: 25px;
}

.authorization button {
	margin-top: 70px;
}
