.adminPanel {
	position: relative;
	left: -38px;
	top: -55px;
}
.adminPanel img {
	width: 112px;
	height: auto;
	margin: 0 7px;
	transition: all .2s;
}
.adminPanel img:hover {
	transform: scale(1.02);
}